[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django_transitions = "*"

[dev-packages]
mypy = "*"
black = "*"
pylint = "*"
graphviz = "*"

[requires]
python_version = "3.10"
