{% extends "./base.html" %}

{% block title %}Nouveau candidat{% endblock %}

{% block content %}
<h1>Déposez ma candidature</h1>
    <p>Pour devenir bénévole à la Protection Civile de l'Isère, merci de remplir le formulaire suivant avec quelques infos essentielles</p>
    <form action="{% url 'candidates:add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Informations personnelles</h2>
        {{ form.as_p }}

        <h2>Diplômes</h2>
        <table>
            {{ diploma_formset.management_form }}
            {% for diploma_form in diploma_formset %}
                {{ diploma_form.as_table }}
            {% endfor %}
        </table>
        <input type="submit">
    </form>
{% endblock %}