{% extends './base.html' %}

{% block title %}Questionnaire de motivation{% endblock %}

{% block content %}
<h1>Questionnaire de motivation</h1>
    <p>Afin de nous permettre de mieux vous connaître, merci de répondre à ces quelques questions.</p>
    <form action="{% url 'candidates:questions' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <label for="{{ form.text.id_for_label }}">{{ form.question.value }}</label>{{ form.text }}{{ form.text.errors }}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endfor %}
        <input type="submit">
    </form>
{% endblock %}