<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="{% url 'candidates:questions' %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <label for="{{ form.text.id_for_label }}">{{ form.question.value }}</label>{{ form.text }}{{ form.text.errors }}
    {% endfor %}
    <input type="submit">
</form>
</body>
</html>